<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/More about my life!">More about my life!</a></li>
        		<li><a href="/My Projects">My Projects</a></li>
        		<li><a href="/blog">Blogs</a></li>
			<li><a href="/vlog">Vlogs</a></li>
    		</ul>
		</nav>
		<div class="container">
      
   {{ content }}
      
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="teamtavernieriowa@gmail.com">email</a></li>
        		<li><a href="://github.httpscom/camrygames">github.com/camrygames</a></li>
			</ul>
		</footer>
	</body>
</html>

